<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head th:include="fragments/base :: headerFragment">
  <title id="pageTitle" th:inline="text">[[#{idp.msg.title}]]</title>
</head>
<body>
  
  <div th:replace="fragments/header :: logotype"></div>
  
  <div class="container main" id="main">  
    
    <div th:replace="fragments/header :: language(languages = ${languages}, path='/extauth/autoauth')"></div>
    
    <form method="POST" action="#" th:action="@{/extauth/autoauth/save}"> 
      
      <div class="row" id="mainRow">
      
        <div class="col-sm-12 content-container">
        
          <div class="row" id="spInfoText">
            <div class="col-sm-12 content-heading">
              <h2 th:text="#{idp.msg.heading}">Sweden Connect Reference IdP</h2>
              <h3 th:text="#{idp.msg.auto-authn.subtitle}">Automatic Authentication Configuration</h3>
            </div>
            <div class="col-sm-12">                
              <p class="info" th:text="#{idp.msg.auto-authn.select-user}">
                Select a user from the list below as auto authenticated user         
                </p>
            </div>
          </div> <!-- spInfoText -->
            
          <hr class="full-width">
        
          <div class="row section" id="selectAutoUserDiv">
            <div class="col-sm-12">
              <select class="form-control" id="selectSimulatedUser" name="selectedUser">
                <option value="NONE" th:text="#{idp.msg.auto-authn.select-label}">
                  ----- Select user for automatic authentication -----
                </option>
                <option th:each="u : ${users}" th:value="${u.getPersonalNumber()}" 
                        th:text="${u.toViewString()}" th:selected="${u.getPersonalNumber() == selectedUserId}">
                  User info
                </option>
              </select>
            </div>            
          </div> <!-- /#selectAutoUserDiv -->
                  
          <div class="row section" id="submitDiv">
            <div class="col-12">
              <div class="box">
                <button type="submit" id="saveButton" class="btn btn-primary" name="action" value="save">
                  <span th:text="#{idp.msg.auto-authn.button.select}">Select User</span>
                </button>
                <button type="submit" id="eraseButton" class="btn btn-primary" name="action" value="clear">
                  <span th:text="#{idp.msg.auto-authn.button.clear}">Clear Auto Auth</span>
                </button>                  
              </div>
            </div>
          </div> <!-- /#submitDiv -->
        
        </div> <!-- ./col-sm-12 content-container -->
              
        <div th:replace="fragments/footer :: copyright"></div>

      </div> <!-- mainRow -->
                    
    </form>
    
  </div> <!-- main -->  
  
  <th:block th:include="fragments/base :: scriptFragment"></th:block>
  <script type="text/javascript" th:src="@{/scripts/testconf.js}" src="../../static/scripts/testconf.js"></script>

</body>
</html>