<included>
    <variable name="idp.loglevel.idp" value="DEBUG" />
    <variable name="idp.loglevel.ldap" value="WARN" />
    <variable name="idp.loglevel.messages" value="INFO" />
    <variable name="idp.loglevel.encryption" value="INFO" />
    <variable name="idp.loglevel.opensaml" value="INFO" />
    <variable name="idp.loglevel.props" value="INFO" />
    
    <variable name="idp.loglevel.eln" value="DEBUG" />
    
    <!-- 
      It is also possible to add loggers and even appenders in this override file.
      
      For example:
      <logger name="net.shibboleth.idp.saml.attribute.mapping" level="INFO" /> 
    -->

</included>

