<?xml version='1.0' encoding='utf-8'?>
<Server port="-1" shutdown="SHUTDOWN">

  <Listener className="org.apache.catalina.startup.VersionLoggerListener" />
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

  <GlobalNamingResources>
    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
              description="User database that can be updated and saved"
              factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
              pathname="conf/tomcat-users.xml" />
  </GlobalNamingResources>

  <Service name="Catalina">
  
    <Connector port="${tomcat.tls.port}" 
               protocol="HTTP/1.1"
               scheme="https"
               SSLEnabled="true"
               connectionTimeout="20000"
               acceptCount="100"
               minSpareThreads="5"
               maxThreads="200"
               allowTrace="false"
               maxHttpHeaderSize="65536"
               xpoweredBy="false"
               maxPostSize="100000"
               compression="on">
      <SSLHostConfig>
        <Certificate certificateKeystoreType="${tomcat.tls.keystore-type}"
                     certificateKeyAlias="${tomcat.tls.alias}"
                     certificateKeystoreFile="${tomcat.tls.keystore}"
                     certificateKeystorePassword="${tomcat.tls.password}" />
      </SSLHostConfig>
    </Connector>
    <!-- Added maxPostSize as recommended for Shibboleth  https://wiki.shibboleth.net/confluence/display/IDP30/ApacheTomcat8 -->
              
    <!-- Define an AJP 1.3 Connector -->
    <Connector port="${tomcat.ajp.port}" protocol="AJP/1.3" redirectPort="${tomcat.tls.port}" 
      enableLookups="false" URIEncoding="UTF-8" scheme="https" secure="true" secretRequired="false" proxyPort="443" proxyName="${tomcat.proxyname}" />              

    <Engine name="Catalina" defaultHost="${tomcat.hostname}">
      <Realm className="org.apache.catalina.realm.LockOutRealm"
             failureCount="3" lockOutTime="600" cacheSize="1000"
             cacheRemovalWarningTime="3600" >
        <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
               resourceName="UserDatabase"/>
      </Realm>

      <Host name="${tomcat.hostname}" appBase="webapps" unpackWARs="true" autoDeploy="false" >
      
        <Valve className="org.apache.catalina.valves.RemoteIpValve" remoteIpHeader="X-Forwarded-For" />
                                
      </Host>

    </Engine>
  </Service>
</Server>
